/* Ustawienie sekcji na środku ekranu w poziomie i na górze w pionie */
section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2%;
    width: 100%;
  }
  
  /* Ustawienie wycentrowania przycisków w poziomie */
  .example-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Stylowanie etykiet */
  .example-label {
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
    margin-bottom: 16px;
  }
  
  /* Stylowanie wiersza przycisków */
  .example-button-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px; /* Przestrzeń między przyciskami */
  }
  
  /* Stylowanie kontenera przycisków */
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  /* Stylowanie przycisków */
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    background-color: #4caf50; /* Zielony kolor tła */
    color: white; /* Kolor tekstu */
    border: none; /* Usunięcie obramowania */
    padding: 10px 20px; /* Wewnętrzne odstępy */
    font-size: 16px; /* Rozmiar tekstu */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    transition: background-color 0.3s ease; /* Płynna zmiana koloru tła */
  }
  
  .example-button-row .mat-mdc-button-base:hover {
    background-color: #45a049; /* Ciemniejszy zielony kolor po najechaniu */
  }
  
  /* Responsywność */
  @media (max-width: 768px) {
    .example-button-row {
      flex-direction: column;
    }
    
    .example-button-container {
      width: 100%;
      margin-bottom: 8px;
    }
  }
  