/* Stylowanie dla paragrafu z klasą .helloworld */
.helloworld {
    margin-left: 5%;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
  }
  
  /* Stylowanie dla innych komponentów strony, jeśli potrzebne */
  .other-content {
    margin-top: 20px; /* Przykładowy margines dla innych treści */
  }
  