.homebgcolor{
    background-color: #0045ac;
    height: 1%;
    width: 17%;
    margin-left: 3%;
}

.red{
    background-color: red($color: #ff0000);
    height: 1%;
    width: 17%;
    margin-left: 3%;
}

.blue {
    height: 1%;
    width: 17%;
    margin-left: 3%;
    background-color: blue($color: #2600ff);
}

.green{
    height: 1%;
    width: 17%;
    margin-left: 3%;
    background-color: green($color: #006b09);
}

.div1{
    height: 1%;
    width: 17%;
    margin-left: 3%;
}

input.ng-invalid.ng-touched {
    background: rgb(226, 175, 175);
}

form {
    div{
        display: inline-block
    }
}