/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(77, 48, 0);}


.homebgcolor{
    background-color: #ffffff;
    height: 20px;
}

.red{
    height: 200px;
    background-color: red;
}

.blue {
    height: 200px;
    background-color: blue;
}

.green{
    height: 200px;
    background-color: green;
}

div{
    height: 10px;
    margin: 10px;
    padding: 10px;
}