/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.homebgcolor{
    background-color: #4301f8;
    height: 20px;
}

.red{
    height: 200px;
    background-color: red;
}

.blue {
    height: 200px;
    background-color: blue;
}

.green{
    height: 200px;
    background-color: green;
}

div{
    height: 200px;
}